body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #00561b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 83vh;
  background-image: url("./joueur-football-masculin-ballon-terrain-herbe.jpg");
  background-size: cover;
  background-position-y: 50%;
}

.logo img {
  max-height: 80px;
}

.categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.categories li {
  margin-right: 20px;
}

.categories a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.image-container {
  width: 100vw;
  max-height: calc(100vh - 160px);
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-section {
  text-align: center;
  max-width: 50%;
}
.right-section p {
  color: #fff;
}

.quizz-title {
  font-size: 3em;
  font-family: "Georgia", serif;
  color: #fff;
  margin-bottom: 10px;
}

.ballon-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #00aaff;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.ballon-button:hover {
  background-color: #0036c0;
}

footer {
  background-color: #00561b;
  padding: 15px;
  text-align: center;
  color: #fff;
  border-top: 2px solid #666;
}

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.left-section {
  text-align: center;
  width: 48%; /* Adjust as needed */
  margin-right: 2%; /* Add margin to shift it to the left */
}

.right-section {
  text-align: center;
  width: 48%; /* Adjust as needed */
}

.left-section p,
.right-section p {
  color: #fff;
}
